<template>
    <div class="row bg-black mt-4 pt-5 "></div>
    <div class="row bg-secondary pt-2 ">
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/floppy.svg" />
                Save
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/trash.svg" />
                Delete
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/plus-circle.svg" />
                New
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/pencil-square.svg" />
                Edit
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/x-circle.svg" />
                Cancel
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/check2.svg" />
                Yes
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/x-lg.svg" />
                No
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/app.svg" />
                Button
            </button>
        </div>
        <div class="col-1 m-0 p-0 pt-1">
            <button type="button" class="btn  btn-secondary" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/app.svg" />
                Button
            </button>
        </div>
        <div class="col-1 m-0 p-0 nav-item dropdown pt-1">
            <button type="button" class="btn  btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" style="color: rgb(0, 0, 0); width: 100%;">
                <img src="../style/icons/app.svg" />
                Button
                <ul class="dropdown-menu bg-body-secondary">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </button>
        </div>
        <div class="col-2">
            <form class="d-flex p-1" role="search">
                <input class="form-control me-2 bg-secondary-subtle" type="search" placeholder="Search" aria-label="Search" style="border-color: rgb(33, 37, 41);" >
                <button class="btn  btn-dark" type="submit" style="color: rgb(233, 236, 239)">Search</button>
            </form>
        </div>
    </div>
</template>
